<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %> - BlogApp</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">BlogApp</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/blogs" class="nav-link">Blog List</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <!-- <% for( let i = 0; i < categories.length; i++ ) { %>
                        <a href="" class="list-group-item list-group-item-action"><%= categories[i] %></a>
                    <% } %> -->

                    <% categories.forEach((category)=>{ %>
                        <a href="" class="list-group-item list-group-item-action"><%= category %></a>
                    <% }) %>
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">
                    <%= title %>
                </h1>


                <% blogs.forEach(blog => {  %>

                <% if (blog.homePage == true && blog.confirm == true) { %>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/images/<%=blog.image %>" class="img-fluid" alt="#">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                    <%=blog.baslig %>  
                                    </h5>
                                </div>
                                <p class="card-text"><%=blog.aciglama %></p>
                            </div>
                        </div>
                    </div>
                <% } %>


               <% }); %>
            </div>
        </div>
    </div>
</body>
</html>